<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @custom.image %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @custom.caption %>
</p>

<%= link_to 'Edit', edit_custom_path(@custom) %> |
<%= link_to 'Back', customs_path %>
