<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pedal_happy.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pedal_happy.description %>
</p>

<%= link_to 'Edit', edit_pedal_happy_path(@pedal_happy) %> |
<%= link_to 'Back', pedal_happies_path %>
