<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">
          <%= link_to "Omaha Bicycle Co.", '/' %>
        </li>
        <li>
          <%= link_to "About", employees_path %>
        </li>
        <li>
          <%= link_to "Brands", brands_path %>
        </li>
        <li>
          <%= link_to "Coffee & Tea", coffee_and_teas_path %>
        </li>
        <li>
          <%= link_to "Custom Builds", customs_path %>
        </li>
        <li>
          <%= link_to "Events", events_path %>
        </li>
        <li>
          <%= link_to "#pedalhappy", pedal_happies_path %>
        </li>
        <li>
          <%= link_to "Contact", "/contact" %>
        </li>
      </ul>
    </div>
  </div>

  <body>
    <div class="row">
      <%= yield %>
    </div>
  </body>

  <footer class="top-bar">
    <div class="row">
      <div class="large-4 columns left">
        &copy; 2016 Omaha Bicycle Co.
      </div>
      <div class="large-4 columns"></div>
      <div class="large-4 columns right"></div>
    </div>
  </footer>

</html>
